<div class="banner" style="margin-top: 200px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("banner.jpeg") %>');">
  <div class="container">
    <h1>Welcome to My Awesome Garage!</h1>
    <p>Browse and save your favorite cars 🚗</p>
    <%= link_to "Enter", cars_path, class: "btn btn-flat" %>
  </div>
</div>
