.navbar-lewagon {
  justify-content: space-between;
  background: #3C4142;

  h1 {
    font-weight: bolder;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
}
